.swiper-pagination {
        position: absolute;
        width: 100%;
        z-index: 20;
        margin: 0;
        top: auto;
        bottom: 20px;
        text-align: center;
        line-height: 1;
    }

    .swiper-pagination span {
        display: inline-block;
        cursor: pointer;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        opacity: 1;
        background-color: transparent;
        border: 1px solid #FFF;
        border-radius: 50%;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .swiper-pagination span:hover,
    .swiper-pagination span.swiper-active-switch { background-color: #FFF !important; }
div.dropdown {
color: #555;
margin: 3px -22px 0 0;
width: 173px;
position: relative;
height: 17px;
text-align:left;
}
div.submenu
{
background: #ff2f00;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 165px;
display: none;
margin-left: 20px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}



.dropdown  li a {
   color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    text-align: center;
  cursor: pointer;
text-decoration:none;
color: #FFFFFF;
}

.dropdown li a:hover{
    background:#CC0000;
    text-decoration: none;
    
}
a.account {
font-size: 13px;
line-height: 22px;
position: absolute;
z-index: 110;
height: 28px;
width: 200px;
text-align: center;
padding-top: 4px;
margin: -2px 0 0 19px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
    
    
}